<div class="data_container">
    <div class="name_container">
        <div class="name_data">
            <div class="data_label">Given Name: </div><div class="data">{{data.given_name}}</div>
        </div>
        <div class="name_data">
            <div class="data_label">Family Name: </div><div class="data">{{data.family_name}}</div>
        </div>
    </div>
    <div class="state_data">
        <div class="data_label">State Token: </div><div class="data">{{data.state}}</div>
    </div>
</div>